.result-item-row {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 95%;
  cursor: pointer;
  border: 1px solid #cacaca;
  border-radius: 10px;
}
.result-item-title {
  font-size: 1.4rem;
  font-weight: 100;
  color: black;
  font-family: "RobotoBlack";
  letter-spacing: -1px;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}
.result-content {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.survey:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.pop-over-wrapping {
  padding: 1rem;
  background-color: black;
  color: black;
}
.check {
  color: green;
}
.times {
  color: red;
}
.check,
.times:hover {
  cursor: pointer;
}
.survey {
  margin-top: 0.8rem;
  font-size: large;
}

@media (max-width: 776px) {
  .result-item-row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 5rem;
  }
}
