.home-content {
  padding-left: 25%;
  padding-right: 25%;
}

.home {
  width: 100vw;
  height: 100vh;
  letter-spacing: -1px;
  margin-top: -5vh;
  background-color: #ececec;
}
.search-bars {
  display: none;
}
.form-control {
  border: none;
  border-radius: 0;
}
.home-title {
  font-family: "RobotoBlack";
  font-size: 5rem;
}

.button-query {
  width: 15rem;
}
.home-title small {
  font-family: "RobotoBlack";
  font-size: 0.8rem;
}
@media (max-width: 776px) {
  .home-content {
    padding-left: 15%;
    padding-right: 15%;
  }
  .home-title {
    font-family: "RobotoBlack";
    font-size: 2rem;
  }
  .home-title small {
    font-family: "RobotoBlack";
    font-size: 0.8rem;
  }
}
